#container{

  color:white;
  font-size:20px;
  margin-top:50px;
}

.formular{
  background:rgba(255,255,255,0.1);
  display:flex;
  border-radius:25px;
  border: 2px solid white;
  justify-content: center;
  padding:2%;
  width: 500px;
  margin-bottom: 5px;
}

.form-control{
  margin-bottom: 25px;
}

.inp{
  display:block;
  width: auto 300px;
	margin-bottom:15px;
  margin-top:5px;
  height: auto 300px;
}

body{
  background-image: url("1234.jpg");
background-repeat;
background-color: lightblue;
}
